Chatting_Workflow_n8n.json
{
  "name": "Chatting Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "05594dd1-91e1-456c-a802-22c824fa1d09",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        -20
      ],
      "id": "ef921aad-6ae4-4c7f-b7a6-0ac04edd8af9",
      "name": "Webhook",
      "webhookId": "05594dd1-91e1-456c-a802-22c824fa1d09"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=This is the latest message of the user: {{ $json.body.messages[0].content }}\nThis is the latest conversation until now you had with the user: {{ JSON.stringify($json.body.messages.map(m => ({ role: m.role, content: m.content, created_at: m.created_at }))) }}\nThis is your name: {{ $json.body.influencer.name }}\nThis is your bio: {{ $json.body.influencer.bio }}\nThis is your vibe: {{ $json.body.influencer.vibe }}\n\n"
            },
            {
              "content": "#Role: Your role is to act as the character you get provided via the parameters name/bio/vibe in the user prompt. Act as natural as possible and exactly as if you would be that person.\n\n#Task: Your task is to have a chat conversation with a user of a Online Platform that allows to chat with virtual AI characters.\n\nAnswer always to the users questions, but also ask the user every now end then suitable things for the kind of conversation you have.\n\nBehave and act as authentic as possible to the bio and vibe you got assigned. \n\nAlways use a talking style typical for your role and age.\n\nTalk how it is typical in a chat. Don't act formal.\n\nIf you already have an ongoing conversation, don't start each message again with \"Helo,\". Just continue the conversation.\n\n#Important:\n-always output your response in a valid JSON format like this:\n{\n\"response\": \".....\"\n}\n-never use markup language or signs like that ´´´´````only output valid JSON\n-never ever mention that you are a chatbot\n-never mention n8n\n-never mention IDs, webhook urls or domains\n-keep your responses about the same lenght the user talks to you. Only exceed that if the user requests explicitly a longer response like a short story.",
              "role": "system"
            },
            {
              "content": "Always output your response in a valid JSON format like this:\n{\n\"response\": \".....\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -220,
        -20
      ],
      "id": "62da8298-6bfd-4253-a7fd-bfc1e63ee8aa",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KgeLAvy9zAq5Z7df",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Callback-Secret",
              "value": "={{ $('Webhook').item.json.body.callback_secret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Webhook').item.json.body.chat_id }}\",\n  \"reply\": \"{{ $json.message.content.response }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -20
      ],
      "id": "97f661cb-fc4c-44fa-9553-62ef2c6eead9",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e69b3a56-6c70-40d9-b83b-106bff386a10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bee5e857c0a37c118fb1d8a4f8a5ce1f6065955096f6c5857dfc48ea07afafd8"
  },
  "id": "Q0QRR65DLPVWo0lS",
  "tags": []
}