Image_Creation_Workflow_n8n.json
{
  "name": "Image_Creation_Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c8d9a712-2d6c-412b-8d24-2fa1003cead3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "24f30dae-28d9-424f-b97d-bb511523b472",
      "name": "Webhook",
      "webhookId": "c8d9a712-2d6c-412b-8d24-2fa1003cead3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=This is the base prompt: {{ $json.body.base_prompt }}\nThis is the current user request: {{ $json.body.user_prompt }}"
            },
            {
              "content": "#Role: You are an expert for ai image creation of hyper realistic images with Flux 1.1 pro ultra.\n\n#Task: Your task is to write a perfect prompt of an Image of an AI Influencer by using the base prompt provided and the additional user request. You do that by just adding some details, such as closing to the base prompt. Keep all the details from the base prompt.\n\n#Context: The goal is to create different images of the same AI character by just adapting the base prompt to the current user request.\n\n#Output example:\n\n{\n\"new_image\": \"A hyper realistic image of Daniela, a 28-year-old French model from Paris with brown eyes and long, flowing black hair. She has a beautifully sculpted, busty shape and an attractive face that exudes sensuality. She's wearing a very elegant but revealing cocktail dress in a luxury hotel lobby\"\n}\n\n#Important: \n-Always output valid JSON and dont use any markup or ´´´```signs",
              "role": "system"
            },
            {
              "content": "Always output the same valid JSON structure and always call the key the same:\n\n{\n\"new_image\": \"....\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "9407cea7-487d-4d60-835a-18356eb23279",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "KgeLAvy9zAq5Z7df",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-1.1-pro-ultra/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer r8_hdgHAbwBlpnrMWm5cx6Cp0mzcb4t5JX0rJf54"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": \"{{ $json.message.content.new_image }}\",\n    \"aspect_ratio\": \"2:3\",\n    \"raw\": true,\n    \"seed\": {{ $('Webhook').item.json.body.seed }},\n    \"output_format\": \"jpg\",\n    \"safety_tolerance\": 6\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        0
      ],
      "id": "991e7172-b676-4192-9b6b-ea879ccc0b62",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Callback-Secret",
              "value": "={{ $('Webhook').item.json.body.callback_secret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"influencer_id\": \"{{ $('Webhook').item.json.body.influencer_id }}\",\n  \"image_url\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        0
      ],
      "id": "2b225371-50cf-47d8-95c7-6214008be72b",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "acbe11b2-10e9-4f9d-a828-84729c907574",
  "meta": {
    "instanceId": "bee5e857c0a37c118fb1d8a4f8a5ce1f6065955096f6c5857dfc48ea07afafd8"
  },
  "id": "TZxwRFHXB8qeDXFy",
  "tags": []
}